# API Keys
OPENAI_API_KEY=
CAPTCHA_API_KEY=

# Email env
EMAIL_USER=     # must be same as in profile
                # recommended to be a separate gmail for this app
# use https://myaccount.google.com/apppasswords
EMAIL_APP_PASSWORD=     # has to be a dedicated gmail app password where 2fa is set up

# registry key for secrets for ats tenant passwords
# not safe for actual implemntations - hashing, etc required if we move to api calls
# REGISTRY_KEY=<random-secret>
REGISTRY_KEY=test